// -----------------------------------
// 🎨 THEME VARIABLES
// -----------------------------------

// Branding Colors
$brand-blue: #0056ff;
$brand-red: #ff0000;
$brand-yellow: #ffd200;
$brand-white: #ffffff;
$brand-black: #000000;
$brand-gray: #f5f5f5;

// Status Colors
$success-bg: #34C759;
$success-subdued: #CFF8D8;
$danger-bg: #ff0000;
$danger-subdued: #FFD6D6;
$warning-bg: #ffd200;
$warning-subdued: #FFF5CC;
$inverted-bg: #ffffff;
$inverted-subdued: #f5f5f5;

// Callout Text Colors
$success-text: #0F8F2F;
$danger-text: #AA0000;
$warning-text: #856404;
$inverted-text: $brand-blue;

// Typography
$font-h1: 66px;
$font-h2: 56px;
$font-h3: 46px;
$font-h4: 36px;
$font-h5: 26px;
$font-h6: 22px;
$font-p1: 20px;
$font-p2: 18px;
$font-p3: 16px;
$font-regular: 400;
$font-medium: 500;
$font-family: 'Poppins', sans-serif;
